{% extends 'base.html' %}
{% load static %}

{% block title %}Мої завдання{% endblock %}

{% block styles %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid my-3 flex-grow-1 px-4">
    <div class="main-block py-1">
        <h1>Мої завдання</h1>
    </div>
    <div class="row">

        <!-- Search and filters -->
        <div class="col-md-3 my-4">
            <div class="bg-body-secondary rounded p-3 ms-3">
                <h5 class="mb-3">Пошук і фільтри</h5>
                <form role="search">
                    <input class="form-control mb-2" name="title" value="{{ request.GET.title }}" type="search" placeholder="Шукати по назві..">
                    <p class="mb-2">Дедлайн від</p>
                    <input class="form-control mb-2" name="deadline_after" value="{{ request.GET.deadline_after }}" type="date">
                    <p class="mb-2">Дедлайн до</p>
                    <input class="form-control mb-2" name="deadline_before" value="{{ request.GET.deadline_before }}" type="date">
                    
                    <select class="form-select mb-2" name="priority">
                        <option value="">Усі пріоритети</option>
                        <option value="high" {% if request.GET.priority == "high" %}selected{% endif %}>Високий</option>
                        <option value="medium" {% if request.GET.priority == "medium" %}selected{% endif %}>Середній</option>
                        <option value="low" {% if request.GET.priority == "low" %}selected{% endif %}>Низький</option>
                    </select>

                    <select class="form-select mb-2" name="status">
                        <option value="">Усі статуси</option>
                        <option value="to_do" {% if request.GET.status == "to_do" %}selected{% endif %}>Необхідно виконати</option>
                        <option value="in_progress" {% if request.GET.status == "in_progress" %}selected{% endif %}>Виконується</option>
                        <option value="done" {% if request.GET.status == "done" %}selected{% endif %}>Готове</option>
                    </select>
                    
                    <p class="mb-2">Категорія</p>
                    {{ filter.form.category }}
                    <button class="btn btn-primary w-100" type="submit">Застосувати <i class="bi bi-arrow-right"></i></button>
                </form>
            </div>
        </div>

        <!-- Tasks -->
        <div class="col-md-9 my-4">
        {% if page_obj %}
            {% for task in page_obj %}
                <div class="card task-card mb-2 border-start border-3 border-secondary">
                    <div class="card-body">
                        <h4 class="card-title">{{ task.title }} <span class="badge fs-6
                                            {% if task.status == 'to_do' %}bg-secondary
                                            {% elif task.status == 'in_progress' %}bg-primary
                                            {% elif task.status == 'done' %}bg-success
                                            {% endif %}
                                            ">{{ task.get_status_display }}</span>
                        </h4>
                        <div class="row mt-2">
                            <div class="col md-6">
                                {% if task.description %}
                                <p class="card-text my-1">
                                    <span class="text-muted small">Опис: </span>{{ task.description }}
                                </p>
                                {% endif %}
                                <p class="card-text my-1">
                                    <span class="text-muted small">Виконати до: </span>
                                    {% if task.deadline %} {{ task.deadline|date:"d.m" }} {% else %} Немає {% endif %}
                                </p>
                                <p class="card-text my-1
                                    {% if task.priority == 'high' %} text-danger
                                    {% elif task.priority == 'medium' %} text-warning
                                    {% elif task.priority == 'low' %} text-success
                                    {% endif %}"">
                                    <span class="small text-muted">Пріоритет: </span>{{ task.get_priority_display }}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text my-1">
                                    <span class="text-muted small">Категорія: </span>{{ task.category.name }}
                                </p>
                                <p class="card-text my-1">
                                    <span class="text-muted small">Команда: </span>{{ task.team.name }}
                                </p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <!--  В data-task передаємо JSON для передзаповнення полів -->
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editingModal"
                            data-task='{ "id": "{{ task.id }}", "title": "{{ task.title|escapejs }}",
                            "description": "{{ task.description|escapejs }}", "deadline": "{{ task.deadline|date:"Y-m-d" }}",
                            "priority": "{{ task.priority }}", "status": "{{ task.status }}",
                            "category_id": "{{ task.category.id }}", "assigned_to_id": "{{ task.assigned_to.id }}",
                            "team_id": "{{ task.team.id }}", "user_role": "{{ task.user_role }}"}'>
                                Редагувати завдання
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div>
                <p class="text-muted">Завдань не знайдено.</p>
                <p class="text-muted">Спробуйте очистити фільтри та шукати знову.</p>
            </div>
        {% endif %}
        </div>
    </div>

    <!-- Pagination -->
    <div class="pagination justify-content-center mt-5">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo;Перша</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Попередня</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&laquo;Перша</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link">Попередня</a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <a class="page-link">{{ page_obj.number }} з {{ page_obj.paginator.num_pages }}</a>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Наступна</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Остання&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Наступна</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link">Остання&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="editingModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Редагування завдання</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="taskForm" method="POST">
                        {% csrf_token %}
                        <div class="mb-2 admin-field">
                            <label class="col-form-label">Назва:</label>
                            <input type="text" class="form-control" id="formTitle" name="title"></input>
                        </div>
                        <div class="mb-2">
                            <label class="col-form-label">Опис:</label>
                            <textarea class="form-control" id="formDesc" name="description"></textarea>
                        </div>
                        <div class="mb-2 admin-field">
                            <label class="col-form-label">Дедлайн:</label>
                            <input type="date" class="form-control" id="formDeadline" name="deadline"></input>
                        </div>
                        <div class="mb-2 admin-field">
                            <label class="col-form-label">Пріоритет:</label>
                            <select class="form-select" id="formPriority" name="priority">
                                <option value="high">Високий</option>
                                <option value="medium">Середній</option>
                                <option value="low">Низький</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label class="col-form-label">Статус:</label>
                            <select class="form-select" id="formStatus" name="status">
                                <option value="to_do">Необхідно виконати</option>
                                <option value="in_progress">Виконується</option>
                                <option value="done">Готове</option>
                            </select>
                        </div>
                        <div class="mb-2 admin-field">
                            <label class="col-form-label">Категорія:</label>
                            <select class="form-select" id="formCategory" name="category">
                                <option value="">Немає</option>
                                {% for c in categories %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-2 admin-field">
                            <label class="col-form-label">Призначено:</label>
                            <select class="form-select" id="formAssignedTo" name="assigned_to">
                                <option value="">Немає</option>
                            </select>
                        </div>
                        <button class="btn btn-primary mt-2" type="submit">Зберегти зміни</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("show.bs.modal", function (event) {
        // Беремо з кнопки дані про поточне завдання для передзаповнення полів
        const btn = event.relatedTarget;

        const task = JSON.parse(btn.dataset.task);
        const taskId = task.id;
        const role = task.user_role;
        const adminFields = document.querySelectorAll(".admin-field");

        // Ховаємо адміністратороські поля якщо користувач учасник
        if (role === 'member') {
            adminFields.forEach(field => field.classList.add('d-none'));
        } else {
            adminFields.forEach(field => field.classList.remove('d-none'));
        };

        const form = document.querySelector("#taskForm");
        const formTitle = document.querySelector("#formTitle");
        const formDesc = document.querySelector("#formDesc");
        const formDeadline = document.querySelector("#formDeadline");
        const formPriority = document.querySelector("#formPriority");
        const formStatus = document.querySelector("#formStatus");
        const formCategory = document.querySelector("#formCategory");
        const formAssignedTo = document.querySelector("#formAssignedTo");

        const baseUrl = "{% url 'task_manage:edit_task' 0 %}";
        form.action = baseUrl.replace('0', taskId);
        formTitle.value = task.title;
        formDesc.value = task.description;
        formDeadline.value = task.deadline;
        formPriority.value = task.priority;
        formStatus.value = task.status;
        formCategory.value = String(task.category_id);

        const teamMembersDict = {{ team_members_json|safe }};
        const CurrentTeamMembers = teamMembersDict[task.team_id] || [];

        // Очищаємо тег select перед заповненням
        formAssignedTo.innerHTML = '<option value="">Немає</option>';

        // Створюємо тег option для кожного учасника команди
        CurrentTeamMembers.forEach(member => {
            const option = document.createElement('option');
            option.value = member.id;
            option.textContent = member.name;
            formAssignedTo.appendChild(option);
        });
        formAssignedTo.value = String(task.assigned_to_id);
    });
</script>
{% endblock %}