{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container my-3 flex-grow-1">
    <div class="position-absolute top-0 start-0 p-3">
        <label class="switch" id="themeToggle">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div style="max-width: 500px; width: 100%;">
            <div class="text-center mb-4">
                <a href="{% url 'accounts:login' %}" class="text-decoration-none fw-bold fs-4 text-body">
                    Task-Manager
                </a>
            </div>
            <div class="text-center mt-3" style="display: grid; align-items: center; height: 300px">
                <div>
                    <i class="bi bi-envelope-check fs-1 text-primary mb-3 d-block"></i>
                    <h4 class="fw-bold mb-2">Лист надіслано</h4>
                    <p class="text-body-secondary">Будь ласка, перевірте вашу пошту та перейдіть за посиланням для скидання пароля.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}