{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="position-absolute top-0 start-0 p-3">
    <label class="switch" id="themeToggle">
        <input type="checkbox">
        <span class="slider"></span>
    </label>
</div>

<div class="container d-flex justify-content-center align-items-center">
    <div style="max-width: 500px; width: 100%;">
        <div class="text-center mb-4">
            <a href="{% url 'accounts:login' %}" class="text-decoration-none fw-bold fs-4 text-body">
                Task-Manager
            </a>
        </div>
        <div class="text-center mt-3" style="display: grid; align-items: center; height: 300px">
            <div>
                <h4 class="fw-bold mb-3">Пароль успішно змінено!</h4>
                <p class="text-body-secondary mb-3">Тепер ви можете увійти з новим паролем.</p>
                <a href="{% url 'accounts:login' %}" class="btn btn-primary">Увійти</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}