{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

<!-- Navbar -->
{% block nav %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Task-Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- aria-current="page" -->
                <a class="nav-link" aria-current="page" href="{% url 'accounts:login' %}">Увійти</a>
                <a class="nav-link" aria-current="page" href="{% url 'accounts:register' %}">Зареєструватися</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <div style="max-width: 500px; width: 100%;">
        <div class="card shadow">
            <div class="card-body p-5">
                <h2 class="card-title text-center mb-4">Реєстрація</h2>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary w-100 mt-3">Зареєструватися</button>
                </form>
                <p class="text-center my-2" style="color: rgb(83, 83, 83)">або</p>
                <a class="auth-button my-2" href="{% url 'accounts:google_login' %}">
                    <div class="auth-button-state"></div>
                    <div class="auth-button-content-wrapper">
                        <div class="auth-button-icon">
                            <svg version="1.1"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 48 48"
                                style="display: block;">
                                <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                                <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                                <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                                <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                                <path fill="none" d="M0 0h48v48H0z"></path>
                            </svg>
                        </div>
                    </div>
                    <span class="auth-button-contents">Зареєструватися з Google</span>
                    <span style="display: none;">Зареєструватися з Google</span>
                </a>
                <p class="text-center mt-2">
                    Вже є акаунт? <a href="{% url 'accounts:login' %}">Увійти</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}